fastapi
uvicorn
pandas
langchain
langchain-openai
pypdf
python-multipart
python-dotenv
openpyxl  # pandas 读 excel 需要它
langchain-community
langchain-huggingface # 用来做向量化
langchain-chroma
langchain-experimental
tabulate
chromadb  # 向量数据库
sentence-transformers # 开源的 embedding 模型
psycopg[binary]
matplotlib  # 图表生成
